@page "/counter"
@using LogAnalytics.Client.Services
@using LogAnalytics.Shared
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@inject IEnvironmentInfoService EnvironmentInfoService

@rendermode @(Global.DefaultRenderMode)

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@if (EnvironmentInfoService.GetMode() == "WASM")
{
    <p>✅ Running in WebAssembly (client-side)</p>
}
else
{
    <p>🖥️ Running on Server (prerender / server-side interactivity)</p>
}


<p role="status">Current count: <MudChip T="string" Color="Color.Primary">@currentCount</MudChip></p>

<MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="IncrementCount">Click me</MudButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private bool isWasm;

    protected override void OnInitialized()
    {
        // Quick way: detect if we're using WebAssembly JSRuntime
        isWasm = JSRuntime.GetType().FullName?.Contains("WebAssemblyJSRuntime") == true;
    }
}
